using './main.bicep'

param prefix = 'vmcmdweb'
param appServicePlanSku = 'B1'
param nodeVersion = '20-lts'

// vm_command_runner デプロイ結果から取得
param functionAppName = 'func-vmcmd-xxxxxxxx'
param functionAppResourceGroup = 'rg-vmcmd'

// 事前に az ad app create で作成したアプリ登録の clientId
param functionAadClientId = '00000000-0000-0000-0000-000000000000'  // Function 側 (S2S 用)
param webAadClientId      = '11111111-1111-1111-1111-111111111111'  // App Service 側 (ユーザーログイン用)
